.leftHeading {
  color: #0b213e;
  font-family: Kartooni;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 48px;
}
.leftColumn {
  height: max-content;
  margin-top: 20px;
  padding-left: 70px;
}

.section .row {
  margin-left: auto;
  margin-right: auto;
  /* align-items: center;
  justify-content: center; */
  width: 95%;
}
.section {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 100px;
  text-align: left;
}

.leftText {
  color: #838383;
  font-family: Kartooni;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32px;
}
.content {
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #d0d0d2;
  border-radius: 16px;
  height: max-content;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
  background-color: #fcfcfc;
}

.title {
  color: #0b213e;
  font-family: "Crushy Black";
  font-size: 18px;
}
.text {
  color: #838383;
  font-family: "Crushy Black";
  font-size: 18px;
}
@media (max-width: 1598.98px){
  .leftHeading {
    color: #0b213e;
    font-family: Kartooni;
    font-size: 48px;
    letter-spacing: 0;
    line-height: 48px;
  }
  .leftColumn {
    height: max-content;
    margin-top: 20px;
    padding-left: 70px;
  }
  .section .row {
    margin-left: auto;
    margin-right: auto;
    /* align-items: center;
    justify-content: center; */
    width: 95%;
  }
  .section {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 100px;
    text-align: left;
  }
  
  .leftText {
    color: #838383;
    font-family: Kartooni;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32px;
  }
  .content {
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #d0d0d2;
    border-radius: 16px;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    background-color: #fcfcfc;
  }
  
  .title {
    color: #0b213e;
    font-family: "Crushy Black";
    font-size: 18px;
  }
  .text {
    color: #838383;
    font-family: "Crushy Black";
    font-size: 18px;
  }
}
@media (max-width: 1399.98px) {
  .leftHeading {
    color: #0b213e;
    font-family: Kartooni;
    font-size: 48px;
    letter-spacing: 0;
    line-height: 48px;
  }
  .leftColumn {
    height: max-content;
    margin-top: 20px;
    padding-left: 52px;
  }
  .section .row {
    margin-left: auto;
    margin-right: auto;
    /* align-items: center;
    justify-content: center; */
    width: 95%;
  }
  .section {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 100px;
    text-align: left;
  }
  
  .leftText {
    color: #838383;
    font-family: Kartooni;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32px;
  }
  
  .title {
    color: #0b213e;
    font-family: "Crushy Black";
    font-size: 18px;
  }
  .text {
    color: #838383;
    font-family: "Crushy Black";
    font-size: 18px;
  }
}
@media (max-width: 1199.98px) {
  .leftHeading {
    color: #0b213e;
    font-family: Kartooni;
    font-size: 48px;
    letter-spacing: 0;
    line-height: 48px;
  }
  .leftColumn {
    height: max-content;
    margin-top: 20px;
    padding-left: 0px;
  }

  .leftText {
    color: #838383;
    font-family: Kartooni;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32px;
  }
  .content {
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #d0d0d2;
    border-radius: 16px;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    background-color: #fcfcfc;
  }

  .title {
    color: #0b213e;
    font-family: "Crushy Black";
    font-size: 18px;
  }
  .text {
    color: #838383;
    font-family: "Crushy Black";
    font-size: 18px;
  }
  .section {
    margin-top:100px;
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (max-width: 991.98px) {
  .leftHeading {
    color: #0b213e;
    font-family: Kartooni;
    font-size: 32px;
    letter-spacing: 0;
    line-height: 48px;
  }
  .leftColumn {
    height: max-content;
    margin-top: 20px;
  }

  .leftText {
    color: #838383;
    font-family: Kartooni;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 32px;
  }
  .content {
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #d0d0d2;
    border-radius: 16px;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    background-color: #fcfcfc;
  }

  .title {
    color: #0b213e;
    font-family: "Crushy Black";
    font-size: 18px;
  }
  .text {
    color: #838383;
    font-family: "Crushy Black";
    font-size: 18px;
  }
  .section {
    margin-top: 120px;
    text-align: left;
  }
}
@media (max-width: 767.98px) {
  .leftHeading {
    color: #0b213e;
    font-family: Kartooni;
    font-size: 48px;
    letter-spacing: 0;
    line-height: 48px;
  }
  .leftColumn {
    height: max-content;
    margin-top: 20px;
  }

  .leftText {
    color: #838383;
    font-family: Kartooni;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32px;
  }
  .content {
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #d0d0d2;
    border-radius: 16px;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    background-color: #fcfcfc;
  }

  .title {
    color: #0b213e;
    font-family: "Crushy Black";
    font-size: 18px;
  }
  .text {
    color: #838383;
    font-family: "Crushy Black";
    font-size: 18px;
  }
  .section {
    margin-top: 50px;
    text-align: left;
  }
}
@media (max-width: 575.98px) {
  .leftHeading {
    color: #0b213e;
    font-family: Kartooni;
    font-size: 32px;
    letter-spacing: 0;
    line-height: 48px;
  }
  .leftColumn {
    height: max-content;
    margin-top: 10px;
    text-align: center;
  }

  .leftText {
    color: #838383;
    font-family: Kartooni;
    font-size: 14px;
  }
  .content {
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #d0d0d2;
    border-radius: 16px;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
    background-color: #fcfcfc;
  }

  .title {
    color: #0b213e;
    font-family: "Crushy Black";
    font-size: 14px;
  }
  .text {
    color: #838383;
    font-family: "Crushy Black";
    font-size: 12px;
  }
  .section {
    margin-top: 75px;
    margin-bottom: 20px;
    text-align: left;
    margin-left: auto;
    width: 70%;
    margin-right: auto;
    background-color: white;
    align-items: center;
    justify-content: center;
  }
}