body{
    overflow: hidden;
}


a{
    text-decoration: none;
}
.custom_nft img{
    width: 30px;    
}
p{
    margin-bottom: 0;
}
.custom_nft{
    padding: 20px 10px;
}
.custom_nft > div{
    padding: 15px 0;
    font-weight: 500;
    opacity: .8;
}
.custom_nft .custom{
    background: #eaeaea;
    opacity: 1;
}
.upload label{
    cursor: pointer;
}
.collection .search{
    background: #fafafa;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #eaeaea;
}
.collection .search img{
    width: 24px;
}
.collection .search input{
    background-color: transparent;
    border: none;
}
input:focus{
    outline: none;
}
::placeholder{
    color: #c1c1c1;
}

.collection h3{
    font-size: 16px;
}

.nft_img .box {
    width: 100%;
    overflow: hidden;
}

.nft_img {
    height: calc(100vh - 156px);
    overflow-x: hidden;
}
.nft_img .upload{
    height: 130px;
    background: #eaeaea;
}
.upload{
    padding: 15px 10px;
    text-align: center;
}
.upload img{
    width: 30px;
}
.nft_img .active{
    border: 8px solid #2f66ee;
}
.nft_img .box label {
    padding: 0px;
    height: 130px;
    border-radius: 0;
    overflow: hidden;
    width: 100%;
}
.btn-check:checked+.btn{
    border: 8px solid #2f66ee;
    border-radius: 0;
}

.btn-check:checked+.img{
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
/* .nft_img .box:hover{
    border: 8px solid #2f66ee;
} */

.nft_center{
    background-color: #f9f9f9;
    min-height: calc(100vh - 140px);
    height: 100%;
    padding-top: 150px;
}
.nft_center .box{
    background: white;
    height: 120px;
}
.nft_center .box img{
    width: 120px;
    height: 100%;
}
.nft_center .upload img{
    width: 30px;
}

.nft_right{
    padding: 20px 20px;
    background: #efefef;
    border: 1px solid #dfdfdf;
    height: 100%;
    min-height: calc(100vh - 140px);

}
.nft_right .setting img{
    width: 24px;
}
.nft_right .setting h3{
    font-size: 16px;
    background-color: #2f66ee;
    color: #fff;
    padding: 8px 15px;
    font-weight: 400;
    border-radius: 5px;
}
.nft_right h3{
    font-size: 22px;
    line-height: 28px;
}
.nft_right .nft_form label{
    font-size: 16px;
    font-weight: 600;
}
.nft_right .nft_form input{
    padding: 10px 10px;
    font-weight: 600;
}
.nft_form .reset p{
    font-size: 16px;
    font-weight: 600;
}
.nft_form .reset button{
    border: none;
    color: red;
    font-weight: 600;
    text-decoration: underline;
}
.nft_form .range > div{
    padding: 20px 0;
    border-top: 1px solid #dddddd;
}
.nft_form .range img{
    width: 60px;
}
.nft_form .range input{
    padding: 5px;
}
.nft_form .range input:nth-child(3){
    width: 55px;
    background: white;
}
.nft_bottom{
    border: 1px solid #dfdfdf;
}
.nft_bottom .layers{
    background: #f9f9f9;
    height: 138px;

}
.nft_bottom ul li{
    padding:  10px;
    background: #fff;
    margin-left: 10px;
    position: relative;
}
.nft_bottom ul li:hover{
    background: #e3e3e3;
}
.nft_bottom ul li img{
    padding: 10px;
    width: 80px;
    border: 1px dashed #979797;
}
.nft_bottom ul li:hover img{
    border: none;
    padding: 5px;
}
.nft_bottom ul li p{
    font-size: 16px;
    font-weight: 400;
}
.layer_img {
    background-color: #f0f0f0;
    border-radius: 50%;
    padding: 20px 0;
    cursor: pointer;
}
.layer_img img{
    width: 30px;   
}
.nft_bottom ul li .cross{
    left: 16px ;
    top: 16px;
    display: none;
}
.nft_bottom ul li .cross img{
    width: 20px;
    background: white;
    border-radius: 50%;
    padding: 0 !important;
}
.nft_bottom ul li:hover .cross{
    display: block;
}

@media screen and (max-width: 1400px) {
    body{
        overflow: scroll;
    }
}