.nftGenerate {
    font-size: 15px; 
}
.nftGenerate .container{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.arrowImage{
    margin-right: 18px;
    padding-top: 3px;
    height: 26px;
}
.saveDraft{
    border: none;
}
.bottomRight{
    color: gray !important;
}
.raritySettingSet{
    display: flex;
}
.raritySettingSet img{
    height: 28px;
    width: 30px;
}
.raritySettingSet Button{
    border: 1px solid gray;
    height: 33px;
    width: 44px;
    font-size: 12px;
    padding: 6px;
    background-color: white;
}
.generateBtn{
    color: #fff;
    border-radius: 0px;
    border: none;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.1s;
}
.displaySetting{
    display: flex;
    height:814px;
    width: 900px;
}
.layerImages img{
    height: 116px;
    width: 177px;
    padding: 0px 22px;
}
.nftColBottom{
    display: flex;
    overflow: overlay;
    background-color: #efefef;
}

.categoryList{
    background-color: #fafafa;
    width: 71%;
    height: 86%;
    padding: 91px 0px 20px 26px;
    overflow: auto;
    grid-template-columns: repeat(auto-fit,minmax(100px, 1fr));
}
ul{
    margin-top: 0;
    margin-bottom: 1rem;
}
.categoryList li{
    float: left;
    list-style: none;
    width: 30%;
    margin: 1%;
}
.hidenft{
    margin-right: 0px;
    margin-bottom: 0px !important;
    border: 1px solid #e5e8eb;
    background: #fff;
    height: 118px;
    opacity: 0.85;
}
.nftCursor{
    text-indent: unset;
    background: transparent;
    border-radius: initial;
    height: 92px;
    display: flex;
    align-items: center;
    margin: 0px auto;
}
span.uploadImage{
    position: relative;
    top: 0px !important;
    text-align: center;
    width: 100%;
}
.photoNft{
    display: block;
    text-align: center;
    position: relative !important;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;

}
.topBtn{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.LayerSettingBottom{
    right: 0px;
    width: 278px;
    height: 100%;
    background: #efefef;
    display: block;
    border: 1px solid #dddddd;
    padding: 14px 19px 0px 19px;
}
.setting{
    position: relative;
    margin-top: 20px;
}
.setting h2{
    padding: 0px ;
    font-size: 20px !important;
    line-height: 22px;
    margin-bottom: 10px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.currentLayer{
    margin-bottom: 20px;
}
.layerBottomSection{
    padding: 0px 8px;
}
.labelLayer{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
}
.raritySetting{
    margin-top:10px;
}
.raritySetting h2{
    font-size: 14px;
    display: flex;
    line-height: 16px;
    font-weight:500;
    justify-content: space-between;
}
.raritySetting span{
    font-size: 14px;
    line-height: 16px;
}
.resetBtn{
    margin-right: 9px;
    color: red !important;
}
.nftFooter{
    border: 1px solid #ddd;
    margin: 0px;
    position: absolute;
    width: 105%;
    bottom: 0px;
}
.previewImages{
    display: flex;
}
.layerfooter{
    width: 100%;
}
.layerfooter ul{
    padding: 0px;
    display: flex;
    margin-bottom: 0px;
}
.layerCategory{
    background-color: rgba(239, 239, 239, 0.31);
    color: rgb(46, 46, 46);
    padding: 15px 0px 0px;
    margin-left: 25%;
}
.layerCategory button{
    border: none;
}
.layerCategory ul li{
    list-style: none;
    float: left;
    position: relative;
    text-align: center;
}
/* .dataName button{
    border: none;
    padding: 0px;
    background: transparent;
} */
/* .viewLayer{
    width: 50px;
    height: 50px;
    border: 1px dotted #c1c1c1;
    cursor: pointer;
    padding: 5px;
    position: relative;
} */
.nftFooter ul li button span{
    font-size: 12px;
    color: #707070;
    font-weight: 400;
    text-transform: capitalize;
    display: block;
    margin-top: 9px;
}
/* .listWrapper{
    margin-left: -4px;
    overflow: auto;
    background: #f6f6f6 !important;
} */
/* .listView{
    padding: 15px 15px 0px 15px;
    cursor: move;
    margin: 0 10px;
    color: #2e2e2e;
    list-style: none !important;
} */
/* .categoryDelete{
    background: transparent;
    border: 0px;
    color: rgb(46, 46, 46);
    display: inline-block;
    font-family: inherit;
    font-size: 0.7rem;
    line-height: 1.15;
    width: 16px;
    appearance: none;
    background-image: url("https://designcloud.appypie.com/dist/img/public/img/cross-bt.png") !important;
    background-repeat: no-repeat !important;
    position: relative;
    position: relative;
    bottom: 29px;
    left: 13px !important;
    background-size: 16px !important;
} */
/* .elementItem{
    background: transparent;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 50px 50px !important;
    background-color: #f9f9f9 !important;
    width: 50px;
    height: 50px;
    border: 1px dotted #c1c1c1;
} */
/* .listView span{
    color: #898989;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    display: block;
    margin-top: 8px;
    text-align: center ;
    margin-left: 14px;
} */
.addLayer{
    margin-top: 7px;
    margin-left: 145px;
    padding-right: 34px;
}
/* .addLayerOpt{
    border: 2px solid #ddd;
    width: 50px;
    height: 50px;
    display: block;
    cursor: pointer;
    border-radius: 50%;
    margin: 7px;
    padding: 8px;
} */


.image {
    box-sizing: border-box;
    height: 114px;
    border: 1px solid #CFCFCF;
  }
  .parent {
     height: 112px;
  padding: 0px 15px 0px 15px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  }
  .baby
  {
    height: 112px;
  margin-left: 10px;
  padding: 0px 28px 0px 28px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  }
  .inside {
      width: 100%;
    display: flex;
    justify-content: space-between;
  
  }
  .rectangle {
    box-sizing: border-box;
    height: 60.71px;
    width: 60.71px;
    border: 1px dashed #979797;
    opacity: 0.53;
  }
  .rectangle:active{
    box-shadow: 0px 6px 13px 20px rgb(199 187 199);
  }
  .rectangle:focus{
    box-shadow: 0px 6px 13px 20px rgb(199 187 199);
  }
  .rectangle:visited{
    box-shadow: 0px 6px 13px 20px rgb(199 187 199);
  }
  .rectangle:target{
    box-shadow: 0px 6px 13px 20px rgb(199 187 199);
  }
  
  .rectangle1 {
    box-sizing: border-box;
    height: 60.71px;
    width: 60.71px;
    border: 1px dashed #979797;
    opacity: 0.53;
  }
  
  .bitmap3
  {
      display: flex;
      justify-content: center;
      margin: 14px;
  }
  .bitmap3 img{
    height: 32.38px;
    width: 32.38px;
  }
  .preview {
    height: 17px;
    width: 46px;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 13px;
    text-align: center;
  }
  .addLayer p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  .preview p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  .bitmap1 {
    height: 59.1px;
    width: 59.1px;
  }
  .shape {
    position: absolute;
    top: 5px;
    right: 74px;
    height: 10px;
    width: 25px;
  }
  .oval {
    height: 63px;
    width: 63px;
    background-color: #F0F0F0;
    border-radius: 50px;
  }.addLayer
  /* .outterDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
  } */
  .moreDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .path img
  {
     width: 28px;
     height: 28px;
  }
  .path {
    margin: 16px;
  }
  .addLayerP1 {
    height: 17px;
    width: 60px;
    color: #000000;
    font-family: Poppins;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 13px;
    text-align: center;
  }
  .addLayer {
    padding-right: 44px;
    /* padding-left: 112px;
    background-color: white;
    width: 265px;
    height: 132px;
    padding-top: 26px; */
  }
  .layerBaby{
    /* padding-left: 46px; */
    height: 112px;
  /* width:  161px; */
  /* padding: 0px 28px 0px 28px; */
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  }

.active{
    border: 5px solid blue;
}


