.navbar{
    padding: 10px 0px;
}
.leftSide{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
.navbar .row{
    width: 100%;
    height: 63px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.liSection{
    color: #030815;
    line-height: 17px;
    margin-top: 10px;
}
.leftSide img{
    height: 38.51px;
    width: 39.78px;
}
.leftSide li{
    font-weight: 400;
    font-size: 16px;
    font-weight: 500;
    line-height: 17px;
    font-family: 'Poppins';
}
.leftSide li a{
    color: #000;
}
.bottom p{
    text-align: center;
    color: #C1C1C1;
    line-height: 17px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.rightSide p{
    text-align: right;
    margin-left: 6px;
    margin-right: 0px;
    color: #C1C1C1;
    line-height: 16px;
    margin-top: 10px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.rightSide {
    display: flex;
    justify-content: end;
}
.rightSide svg{
    opacity: .56;
}
.profile{
    height: 40px;
    width: 40px;
    border-radius: 30px;
    background-color: #535353;
}